{% extends "sharepix/base.html" %} {% block content %}
<div id="info_container">
  <div id="id_user_name">
    {{profile.user.first_name}} {{profile.user.last_name}}'s Profile
  </div>

  <div id="profile_pic_container">
    {% if not profile.picture %}
    <image id="id_profile_pic" src="/static/images/default-profile.png"></image>
    {% else %}
    <image
      id="id_profile_pic"
      src="{% url 'profile_picture' profile.id%}"
    ></image>
    {% endif %}
  </div>

  <div id="id_user_bio">{{profile.bio}}</div>

  <div id="unfollow_container">
    {% if profile.user in request.user.profile.following.all %}
    <a href="{% url 'follow_toggle' profile.user.id %}">
      <button id="id_unfollow">Unfollow</button>
      {% csrf_token %}
    </a>
    {%else%}
    <a href="{% url 'follow_toggle' profile.user.id %}">
      <button id="id_follow">Follow</button>
      {% csrf_token %}
    </a>
    {%endif%}
  </div>
</div>

<!-- Past works -->
{% if my_pixel_arts %}
<div id="past-work-container">
  {% for entry in my_pixel_arts %}
  <div class="past-work">
    <image
      id="past-work-image"
      src="{% url 'published_art' entry.id %}"
    ></image>
  </div>
  {% endfor %}
</div>
{% endif %} {% endblock %}
